extends layout

block layout-content
  div(class='main-display h-100 container p-4')
    div(class="d-flex align-items-center justify-content-between")
      h2(class='pb-2 pt-2')
        | Interface for 
        a(href="https://ffy-modular-personal-website.herokuapp.com/") my modular personal website
      form(class="" action="/logout" method="GET")
        button(class="btn btn-outline-danger" type="submit") Logout


    div(class='form-div')
      h3 About-me Section
      if(about.length != 0) 
        - var con = about[0].content
        button(class="btn btn-outline-danger mb-3" type="button" data-toggle="collapse" data-target="#about-field" aria-expanded="false" aria-controls="about-field" onclick="") Click to edit about-me
      else
        - var con = ""
        button(class="btn btn-outline-primary mb-3" type="button" data-toggle="collapse" data-target="#about-field" aria-expanded="false" aria-controls="about-field") Click to add about-me
      div(class="collapse pb-5" id="about-field")
        form(class="was-validated" action="/sendAData" method="POST")
          div(class="form-group")
            label(for="validationTextarea2") Content
            //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
            textarea(name="content" class="form-control" id="validationTextarea2" placeholder="Required about-me content textarea" required)=con
            div(class="invalid-feedback") Please enter about me content in the textarea. 
          if about.length != 0
            button(type="submit" class="btn btn-outline-success") Change
          else
            button(type="submit" class="btn btn-outline-success") Add

      h3 Project Section
      button(class="btn btn-outline-primary mb-3" type="button" data-toggle="collapse" data-target="#project-field" aria-expanded="false" aria-controls="project-field") Click to add project
      div(class="collapse" id="project-field")
        form(class="was-validated" action="/sendPData" method="POST")
          div(class="form-group")
            label(for="validationTextarea1") Project Name
            //- input(type="text" class="form-control text-wrap" style="height:5rem" id="projectTitle" placeholder="Enter your project name here" )
            textarea(name="pname" class="form-control " id="validationTextarea1" placeholder="Required project name textarea" maxlength="50" required )
            div(class="invalid-feedback") Please enter project name in the textarea. Max length: 50 characters
          div(class="form-group")
            label(for="validationTextarea2") Project Description
            //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
            textarea(name="pdesc" class="form-control " id="validationTextarea2" placeholder="Required project description textarea" required)
            div(class="invalid-feedback") Please enter Project description in the textarea. Max length: 140 characters
          div(class="form-group")
            label(for="validationTextarea3") Project Details
            //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
            textarea(name="pdetail" class="form-control " id="validationTextarea3" placeholder="Required project detail textarea" required )
            div(class="invalid-feedback") Please enter Project details in the textarea.
          button(class="btn btn-outline-info mb-3" type="button" data-toggle="collapse" data-target="#moreDetail" aria-expanded="false" aria-controls="moreDetail") Add more details

          div(class="collapse" id="moreDetail")
            div(class="form-group")
              label(for="validationTextarea4") Github Link
              //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
              input(name="github" class="form-control" type="url" id="validationTextarea4" placeholder="project detail textarea" )
              div(class="invalid-feedback") (Optional) Please enter Project Github link, begin with https://.
            div(class="form-group")
              label(for="validationTextarea4") Website Link
              //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
              input(name="website" class="form-control " type="url" id="validationTextarea4" placeholder="project detail textarea" maxlength="140")
              div(class="invalid-feedback") (Optional) Please enter Project website link, begin with https://.
            div(class="form-group")
              label(for="validationTextarea4") Project Details
              //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
              textarea(name="pdetail" class="form-control " id="validationTextarea4" placeholder="project detail textarea")
              div(class="valid-feedback") (Optional) Please enter Project details in the textarea.
            div(class="form-group")
              label(for="validationTextarea5") Project Details
              //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
              textarea(name="pdetail" class="form-control" id="validationTextarea5" placeholder="project detail textarea" )
              div(class="valid-feedback") (Optional) Please enter Project details in the textarea.
            div(class="form-group")
              label(for="validationTextarea6") Project Details
              //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
              textarea(name="pdetail" class="form-control " id="validationTextarea6" placeholder="project detail textarea" )
              div(class="valid-feedback") (Optional) Please enter Project details in the textarea.
            div(class="form-group")
              label(for="validationTextarea7") Project Details
              //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
              textarea(name="pdetail" class="form-control" id="validationTextarea7" placeholder="project detail textarea")
              div(class="valid-feedback") (Optional) Please enter Project details in the textarea.
            div(class="form-group")
              label(for="validationTextarea8") Project Details
              //- input(type="text" class="form-control text-wrap" id="projectContent" placeholder="Enter your project content here")
              textarea(name="pdetail" class="form-control" id="validationTextarea8" placeholder="project detail textarea")
              div(class="valid-feedback") (Optional) Please enter Project details in the textarea.
          br
          button(type="submit" class="btn btn-outline-success") Add

    table(class="table mt-3")
      thead(class="thead-light")
        tr 
          th About-me content
          th 
      tbody
        each ab in about
          tr
            td=ab.content
            td
              form(action="/deleteAbout" method="POST" class="d-inline")
                button(class="btn btn-outline-danger btn-sm" name="id" value=about._id) Delete

    table(class="table mt-3")
      thead(class="thead-light")
        tr 
          th Current Project
          th Project Description
          th 
      tbody
        each project in projects
          tr
            td=project.name
            td=project.desc
            td
              form(action="/deleteProject" method="POST" class="d-inline")
                button(class="btn btn-outline-danger btn-sm" name="id" value=project._id) Delete
              form(action="/editProject" method="POST" class="d-inline")
                button(class="btn btn-outline-danger btn-sm" name="id" value=project._id) Edit